<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Facebookid:</strong>
  <%= @user.facebookid %>
</p>

<p>
  <strong>Googleid:</strong>
  <%= @user.googleid %>
</p>

<p>
  <strong>Calendaritem:</strong>
  <%= @user.calendaritem %>
</p>

<p>
  <strong>Favoriteitem:</strong>
  <%= @user.favoriteitem %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
