<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @eveniment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eveniment.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @eveniment.date %>
</p>

<p>
  <strong>Timestart:</strong>
  <%= @eveniment.timestart %>
</p>

<p>
  <strong>Timeend:</strong>
  <%= @eveniment.timeend %>
</p>

<p>
  <strong>Category:</strong>
  <%= @eveniment.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @eveniment.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @eveniment.location %>
</p>

<%= link_to 'Edit', edit_eveniment_path(@eveniment) %> |
<%= link_to 'Back', eveniments_path %>
