<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @attend.userid %>
</p>

<p>
  <strong>Eventid:</strong>
  <%= @attend.eventid %>
</p>

<%= link_to 'Edit', edit_attend_path(@attend) %> |
<%= link_to 'Back', attends_path %>
